[Unit]
Description=Go Socks5 server
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/tmp
ExecStart=/usr/bin/go-socks5-server 
RestartSec=10s
Restart=always

[Install]
WantedBy=multi-user.target

